## Exercise 4.7

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Create dataframes
path = r'C:\Users\rhtho\Documents\CareerFoundry\Data Immersion\Achievement 4\04-2023 Instacart Basket Analysis'
ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [11]:
df = ords_prods_merged[:1000000]

In [12]:
df.tail()

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge
999995,2731921,2836489,164627,prior,14,0,15,6.0,30489,2,0,30491,Original Hummus,67,20,7.5,both
999996,2731962,1843600,164632,prior,5,1,19,9.0,30489,2,0,30491,Original Hummus,67,20,7.5,both
999997,2731966,733106,164632,prior,9,2,22,10.0,30489,3,1,30491,Original Hummus,67,20,7.5,both
999998,2731974,1650124,164632,prior,17,6,17,13.0,30489,1,1,30491,Original Hummus,67,20,7.5,both
999999,2731979,3378258,164632,prior,22,6,10,15.0,30489,3,1,30491,Original Hummus,67,20,7.5,both

In [13]:
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [14]:
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\rhtho\AppData\Local\Temp\ipykernel_20700\2848743372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [17]:
df['price_range'].value_counts(dropna=False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [18]:
df['prices'].max()

14.8

In [19]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

C:\Users\rhtho\AppData\Local\Temp\ipykernel_20700\1169838859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [20]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [21]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [22]:
df['price_range_loc'].value_counts(dropna=False)

Mid-range product    756450
Low-range product    243550
Name: price_range_loc, dtype: int64

In [3]:
ords_prods_merged.loc[ords_prods_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [4]:
ords_prods_merged.loc[(ords_prods_merged['prices'] <= 15) & (ords_prods_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [5]:
ords_prods_merged.loc[ords_prods_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [6]:
ords_prods_merged['price_range_loc'].value_counts(dropna=False)

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range_loc, dtype: int64

In [7]:
ords_prods_merged['order_dow'].value_counts(dropna=False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: order_dow, dtype: int64

In [8]:
result = []

for value in ords_prods_merged["order_dow"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [31]:
result[:10]

['Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy']

In [9]:
ords_prods_merged['busiest_day'] = result

In [10]:
ords_prods_merged['busiest_day'].value_counts(dropna=False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

## Task 4.7

#### Create column for two busiest and slowest days

In [11]:
# Drop previous busiest day column
ords_prods_merged = ords_prods_merged.drop(columns=['busiest_day'])

In [12]:
# For loop
results = []

for value in ords_prods_merged["order_dow"]:
  if value == 0 or value == 1:
    results.append("Busiest days")
  elif value == 4 or value == 3:
    results.append("Slowest days")
  else:
    results.append("Regular days")

In [14]:
# Create column
ords_prods_merged['busiest_days'] = results

In [15]:
# Print frequency
ords_prods_merged['busiest_days'].value_counts(dropna=False)

Regular days    12916111
Busiest days    11864412
Slowest days     7624336
Name: busiest_days, dtype: int64

#### Create column for busiest  and least busy hours of the day

In [41]:
# Print frequency
ords_prods_merged['order_hour_of_day'].value_counts(dropna=False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

In [16]:
# For loop
hour_results = []

for value in ords_prods_merged["order_hour_of_day"]:
  if value == 10 or value == 11 or value == 14 or value == 15 or value == 13:
    hour_results.append("Most orders")
  elif value == 4 or value == 3 or value == 2 or value == 5 or value == 1:
    hour_results.append("Fewest orders")
  else:
    hour_results.append("Average orders")

In [17]:
# Create column
ords_prods_merged['busiest_period_of_day'] = hour_results

In [18]:
# Print frequency
ords_prods_merged['busiest_period_of_day'].value_counts(dropna=False)

Average orders    18517166
Most orders       13510134
Fewest orders       377559
Name: busiest_period_of_day, dtype: int64

In [19]:
# Export pickle
ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_4.7.pkl'))